* {
  margin: 0;
  box-sizing: border-box;
}

/* ---------------- Recipe Page -------------*/

.recipeCardMain {
  width: 100%;
  height: 100%;
}

.recipeCardMain .card {
  background-color: rgb(241, 175, 113);
}
.subCard {
  width: 200px;
  font-size: 24px;
  width: 500px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  border-radius: 60px;
}

.pic {
  /* background-image: url("coffeeWallpaper.jpg"); */
  height: 175px;
  width: 260px;
  background-repeat: fit;
  background-size: cover;
  border-radius: 50px;
  position: absolute;
  top: 26%;
  left: 78%;
  transform: translate(-50%, -50%);
}
.recipeImage1 {
  width: 200px;
  border-radius: 26px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
}

.title {
  text-align: center;
}
.ingredients,
.instructions {
  margin-top: 26px;
  line-height: 36px;
  margin-left: 26px;
}

.ingredients {
  width: 500px;
}
.recipeImage1 img {
  height: 800px;
  width: 700px;
}
/*  --------------- cards Page ------------------  https://www.pngegg.com/en/search?q=drinks     https://bennettfeely.com/clippy/
*/

.cardsPageMain {
  display: flex;
  background-image: url("./coffeeWallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 70%, 100%;
}
.mainCard {
  display: flex;
}

.cardsPageImage {
}
.cardsPageShape {
  margin-left: 300px;
  width: 1067px;
  height: 630px;
  background: rgb(247, 91, 1);
  clip-path: polygon(48% 0, 100% 0, 100% 100%, 8% 100%);
}

.cardsPageShapeInside {
  display: flex;
  color: aqua;
  width: 600px;
  position: relative;
  left: 470px;
  top: 100px;
  height: 410px;
}

.imageDiv {
  width: 110px;
  height: 110px;
  /*clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);*/
}
.recipeImage {
  width: 110px;
  height: 110px;
  border-radius: 50px;
}
.cards {
  margin-left: 20px;
}
